@{
    ViewBag.Title = "Home Page";
}

@model List <StorForStudentsWebApp.Models.ItemModel>

<h2>Список товаров</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            Изображение
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Quantity)
        </th>
    </tr>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                <div>
                    <img src="@item.ImagePath" height="100px" >
                </div>
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details/" + item.Id)
                
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
            </td>
        </tr>
    }
 
</table>